APP_NAME=ARM
APP_ENV=production
APP_KEY=base64:W5CAil+h0FhLXGfKAA+XZpRmVn86HNRZUJwVnMcDNfQ=
APP_DEBUG=true
APP_URL=http://armicm.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=u430727021_arm
DB_USERNAME=u430727021_arm
DB_PASSWORD=Fouadzeu2000

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="ARM"

NOTCHPAY_PUBLIC_KEY=pk.stWbODxgzVVx7IMFvh5mcr9dKOF2ngSkMgRlogC0LJMuof7VpyzfYPi1pnmadiZf62D87QsnKO8lf6yVIzuQKoL2Izh1diUrO349ZPsdABEoQM1odWYJFFklQFNru
NOTCHPAY_SECRET_KEY=sk.vxojpIi7Yweb3ARjxfqQdzD6J9qZWtU0HKIWfQdNC9qtDfEPRtcMu9qZwOVIXXJdi5l8ttddyIyqMhr4EK4qGZ261XzrOETzFqTOfRolx2tyaduQ4RKCrcqZWB35O
NOTCHPAY_WEBHOOK_SECRET=hsk.wfaROXic1d0kjBCooci97yJ41t5QDgUKRVywb7Q3kveqZNJorvvV8K2a5fKq9z3xawjiYNTquhfv8q3rTlTezyXqaweKrZfApxdGLn76dQbnMQD4tAsfp6m5j8q6D
